body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: linear-gradient(90deg, #617bcd, #c5899d);

}

.myForm{
display: table;
}

.button {
  width: 6vw;
  height: 6vw;
  font-size: 3vw;
  border-radius: 1vw;
  border: none;
  margin: 0.2vw;
  background: white;
  color: #222;
  font-family: cursive;
  outline: none;
}
.button-start {
  position: relative;
  width: 5vw;
  height: 5vw;
  top: -33vw;
  border-radius: 50%;
  background: transparent;
  border: 0.5vw solid #f1f1f1;
  outline: none;


}
.button-position {
  width: 27vw;
  text-align: center;

}
.block {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13vw;
  margin-left: -13vw;
}
